{:duct.profile/base
 {:duct.core/project-ns hello-duct

  :duct.router/ataraxy
  {:routes {[:get "/example"] [:hello-duct.handler/example]
            [:get "/hello"] [:hello-duct.handler/hello]}}

  :hello-duct.handler/example
  {}

  :hello-duct.handler/hello
  {}

  :hello-duct.graphql/schema
  {:schema-path "hello_duct/cgg-schema.edn"}

  :hello-duct.graphql/service
  {:schema #ig/ref :hello-duct.graphql/schema
   :options {:graphiql true
             :app-context {:db #ig/ref :duct.database/sql}
             :env :prod}}

  :duct.server/pedestal
  {:base-service #ig/ref :hello-duct.graphql/service
   :service #:io.pedestal.http {:join? true
                                :host #duct/env "SERVER_HOST"
                                :port #duct/env ["SERVER_PORT" Int :or 8888]}}
  }

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/cljs {:main hello-duct.client}}
