{:duct.profile/base
 {:duct.core/project-ns hello-duct

  :hello-duct.handler.example/example
  {}

  :hello-duct.handler.example/hello
  {}

  :hello-duct.handler.example/plus
  {}

  ;;:duct.router/ataraxy
  #_{:routes {[:get "/example"] [:hello-duct.handler/example]
            [:get "/hello"] [:hello-duct.handler/hello]}}

  ;; graphql

  [:duct/const :path/cgg-data]
  "hello_duct/cgg-data.edn"

  [:duct/const :path/cgg-schema]
  "hello_duct/cgg-schema.edn"

  :hello-duct.graphql/load-data
  {:data-path #ig/ref :path/cgg-data}

  :hello-duct.graphql/resolver-map
  {:cgg-data #ig/ref :hello-duct.graphql/load-data}

  :hello-duct.graphql/load-schema
  {:schema-path #ig/ref :path/cgg-schema
   :resolver-map #ig/ref :hello-duct.graphql/resolver-map}

  :hello-duct.graphql/execute
  {:schema #ig/ref :hello-duct.graphql/load-schema}

  ;; pedestal

  :hello-duct.pedestal/pedestal
  {:schema #ig/ref :hello-duct.graphql/load-schema}

  ;:hello-duct.pedestal/server
  #_{:server #ig/ref :hello-duct.pedestal/pedestal}

  ;; ring

  :hello-duct.ring/router
  {:routes ["/api"
            ["/example" {:get #ig/ref :hello-duct.handler.example/example}]
            ["/hello" {:get #ig/ref :hello-duct.handler.example/hello}]
            ["/plus" {:get #ig/ref :hello-duct.handler.example/plus}]]
   :opts nil}

  :hello-duct.ring/ring-handler
  {:router #ig/ref :hello-duct.ring/router
   :middlewares nil}

  :hello-duct.ring/jetty
  {:handler #ig/ref :hello-duct.ring/ring-handler
   :opts nil}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/cljs {:main hello-duct.client}}
